* {
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.menu img {
  max-height: 25px;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 6fr;
  height: 100%;
}

.sidebar div {
  margin-left: 15px;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu ul {
  display: grid;
  gap: 10px;
}

.menu li {
  display: grid;
  grid-template-columns: 25px 25px;
  height: 25px;
  column-gap: 20px;
  align-items: center;
  font-weight: 700;
}

.dashboard {
  display: grid;
  grid-template-rows: 1fr 4fr;
}



.topbar {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 10vh;
}

.searchbar {
  display: grid;
  align-items: center;
  margin-left: 25px;
}

.search {
  width: 80%;
  border-style: none;
  background-color: lightgray;
  border-radius: 15px;
}

 input:focus {
  outline-color: #0ea5e9;
  caret-color: transparent;
}

.account-controls {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 80px;
}

.account-controls div {
  margin-left: 15px;
}

.actionbar {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.greeting-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: fit-content;
  margin-left: 20px;
}

.profile-pic {
  display: grid;
  justify-content: end;
}

.action-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  margin-right: 50px;
}

.action-buttons button {
  width: 80px;
  height: 30px;
  background-color: #0ea5e9;
  border-style: none;
  border-radius: 20px;
  color: white;
  font-weight: 600;
}

.project-page {
  width: 1fr;
  max-height: 100%;
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.project-header {
  margin-top: 3vh;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 70vh;
  margin-top: 20px;
  gap: 3vh;
}

.project-container,
.project-header {
  margin-left: 1vw;
}

.projects {
  max-height: 150px;
  overflow-y: auto;
  font-size: 1.8vh;
  background-color: white;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 10px;
  border-radius: 7px;
  border-style: none none none inset;
  border-width: 0.5vw;
  border-color: cyan;
  box-shadow: 3px 3px 5px #a1a1aa;
}

.announcements {
  margin-right: 3vw;
  margin-top: 3vh;
}

.announcements-section {
  width: auto;
  height: auto;
  background-color: white;
  font-size: 1.3vh;
  display: grid;
  justify-content: center;
  border-radius: 0.5vw;
  box-shadow: 3px 3px 5px #a1a1aa;
}

section {
  width: 80%;
  padding: 1.5vh;
  margin-left: 1vw;
}